---
import Search from "@/icons/Search.astro";
const { search, onSearch } = Astro.props;

function handleSearch(event: Event) {
    const searchTerm = (event.target as HTMLInputElement).value;
    onSearch(searchTerm);
}
---

<div class="relative text-zinc-100 focus-within:text-gray-400">
    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
      <Search class="h-5 w-5" />
    </span>
    <input
      type="text"
      class="pl-10 border p-2 rounded-lg bg-zinc-800 text-white"
      placeholder="Search songs"
    />
  </div>